@page
@model MyApp.Namespace.AddModel
@{
}
<div class="">
<form method="post">
    <label asp-for="Product.title"></label>
    <input asp-for="Product.title" /><br/>
    <label asp-for="Product.description"></label>
    <input asp-for="Product.description" /><br/>
    <label asp-for="Product.category"></label>
    <input asp-for="Product.category" /><br/>

    <button type="submit">Save</button>
    <a asp-page="Index" >Back to Home</a>
</form>
</div>
