@page
@model MyApp.Namespace.EditModel
@{
}

<form method="post">
    <input type="hidden" asp-for="Product.id" />
    <label asp-for="Product.title"></label>
    <input type="text" asp-for="Product.description" /><br/>
    <label  asp-for="Product.category"></label>
    <input type="text" asp-for="Product.category" /><br/>
    <label asp-for="Product.price"></label>
    <input type="number" asp-for="Product.price" /><br/>
    <button type="submit" class="btn btn-warning">Update</button>
    <a asp-page="Index" class="btn btn-primary" />Back To Homepage </a>
</form>
